<!-- Os pipes servem para transformar os dados e o resultado pode ser visualizado no template -->
<h2>Exemplos de Pipes</h2>

<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p> <!-- exemplo de pipe aninhado -->
<p>Estrelas: {{ livro.rating | number:'1.1-1' }}</p>
<p>Páginas: {{ livro.numeroPaginas }}</p>
<p>Preço: {{ livro.preco | currency:'BRL':true }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p> <!-- o pipe json é muito bom para debug de valores vindos do back-end que devem ser mostrados no front -->

<input type="text" [(ngModel)]="filtro" />
<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<!-- exemplo de pipe que filtra um array -->
<!-- vale lembrar que este tipo de feature não deve ser utilizado em produção, o proprio time do angular desaconselha -->
<h2>Pipe Puro</h2>
<ul>
  <li *ngFor="let liv of livros | filtroArrayPuro:filtro">
    {{ liv }}
  </li>
</ul>

<!-- este exemplo utiliza um pipe impuro, que simplesmente utiliza o metadado pure: true -->
<h2>Pipe Impuro</h2>
<ul>
  <li *ngFor="let liv of livros | filtroArrayImpuro:filtro">
    {{ liv }}
  </li>
</ul>

<!-- esta é a forma considerada mais correta para fazer filtros de uma lista em um component -->
<h2>Maneira correta de usar filtros nos projetos</h2>
<ul>
  <li *ngFor="let liv of obterCurso()">
    {{ liv }}
  </li>
</ul>

<p>{{ valorAsync | async }}</p>
<p>{{ valorAsync2 | async }}</p>
